{% extends 'base.html.twig' %}

{% block title %}Pais index{% endblock %}

{% block body %}
<div class="container">
    <h1>Pais</h1>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>NOmbre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pais in paises %}
            <tr>
                <td>{{ pais.id }}</td>
                <td>{{ pais.nombre }}</td>
                <td>
                    <a href="{{ path('app_pais_show', {'id': pais.id}) }}">show</a>
                    <a href="{{ path('app_pais_edit', {'id': pais.id}) }}">edit</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pais_new') }}">Create nuevo pais</a>
</div>
</div>
{% endblock %}
